<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9kj4wkP4RCcePeJ9dYzOIjJsPrESZmSk</string>
	<key>GCM_SENDER_ID</key>
	<string>924365799629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>recipe-api-cee2b</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-api-cee2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924365799629:ios:490415ee444ee1b1736984</string>
</dict>
</plist>